<app-header/>
<main>
    <ul id="users">
            <!-- <li *ngFor="let user of users">
                <app-user [user]="user" (selectedOne)="onSelectUser($event)"/>
            </li> -->
            @for(user of users; track user.id){
                <li>
                    <app-user [selected] = "user.id === selectedUserId" [user]="user" (selectedOne)="onSelectUser($event)"/>
                </li>
            }
    </ul>

    @if(selectedUser){
        <app-tasks 
            [userId] = "selectedUser.id"
            [name]="selectedUser.name"
        />

    }@else {
        <p >no seleceted user task</p>
    }
    <!-- <app-tasks *ngIF="selectedUser; else fallback" [name]="selectedUser.name"/>
    <ng-template>
        <p id="fallback">no seleceted user task</p>
    </ng-template> -->
</main>